<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <!-- messages -->
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show w-50 mx-auto text-center" role="alert"
            style="margin-bottom: -80px; margin-top: 80px">
            {% for message in messages %}
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% endfor %}
        </div>
        {% endif %}
        <!-- messages end -->
        <h3 class="display-4 text-center py-3">Client Questionnaire</h3>
        <form action="{% url 'joey:submit' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Client Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Client Name" required>
            </div>

            <div class="form-group">
                <!-- client temperature -->
                <label for="temp">Client Tempertaure</label>
                <input class="form-control" type="number" name="temp" id="temp" placeholder="Client Temperature" required>
            </div>

            <div class="form-group">
                <!-- is client wearing a mask -->
                <label for="has_mask">Is Client wearing a mask?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="has_mask" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="has_mask" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>


            <!-- Have you been diagnosed with covid? -->
            <div class="form-group">
                <label for="covid_diagnosed">Have you or anyone in your household been diagnosed with Covid-19?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="covid_diagnosed" value="True" required> 
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="covid_diagnosed" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>
            <div class="form-row">
                <!-- what type of test -->
                <div class="form-group col-md-8">
                    <label for="test_type">What type of test was taken?</label>
                    <input class="form-control" type="text" name="test_type" id="test_type" required>
                </div>
                <!-- when was test done -->
                <div class="form-group col-md-4">
                    <label for="test_date">When was the test done?</label>
                    <input class="form-control" type="date" name="test_date" id="test_date" required> 
                </div>
            </div>
            <!-- test results -->
            <div class="form-group col">
                <label for="test_results">What were the results</label>
                <textarea class="form-control" name="test_results" id="test_results" rows="10" required></textarea>
            </div>

            <!-- Have you experienced any flu like symptoms -->
            <div class="form-group">
                <label for="has_symptoms">Have you experienced any Cold or Flu-like symptoms in the last 14 days
                     (fever, cough, sore throat, shortness of breath or other respiratory problem)?
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="has_symptoms" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="has_symptoms" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>


            <!-- Have you been to high risk zone -->
            <div class="form-group">
                <label for="high_risk_zone"> 
                    Have you been in places with a high infection 
                    rate within the last two weeks (e.g., state-designated “hotspots”)? 
                    If yes, please explain
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="high_risk_zone" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="high_risk_zone" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>


            <!-- Have you had close contact with or cared for someone diagnosed with Covid-19 -->
            <div class="form-group">
                <label for="contact_with_suspect">
                    Have you had close contact with or cared for someone diagnosed with COVID-19 within the last 14 days?
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contact_with_suspect" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contact_with_suspect" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>

            <!-- Have you been advised as clinically vulnerable -->
            <div class="form-group">
                <label for="is_clinically_vulnerable">
                    Have you or anyone in your family been advised by the government as being clinically vulnerable and to shield?
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="is_clinically_vulnerable" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="is_clinically_vulnerable" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>

            <!-- Vulnerable disease -->
            <div class="form-group">
                <label for="is_clinically_vulnerable">
                    Are you or anyone in your family currently suffering from:
                </label><br>
                <div>
                    <li>People 65 years or older</li>
                    <li>Respiratory conditions including Chronic lung disease, severe asthma and severe chronic
                        obstructive pulmonary disease (COPD)</li>
                    <li>Heart Conditions</li>
                    <li>Compromised or suppressed immunity</li>
                    <li>Severe obesity (body mass index of 40 or higher)</li>
                    <li>Diabetes </li>
                    <li>Chronic kidney disease </li>
                    <li>Liver disease</li>
                    <li>
                        People with specific cancer :
                        People with cancer who are undergoing chemotherapy ,
                        people with lung cancer who are undergoing radiotherapy,
                        people with cancers of the blood or bone marrow such as leukaemia, lymphoma or myeloma who are
                        at any stage of treatment,
                        people having immunotherapy or other continuing antibody treat-ments for cancer ,
                        people having other targeted cancer treatments which can affect the immune system ,such as
                        protein kinase inhibitors or PARP inhibitors,
                        People who had bone marrow or stem cells transplant in the last 6 months and are still taking
                        immunosuppression drugs
                    </li>
                    <li>Pregnant women with significant heart disease</li>
                    <li>
                        Rare diseases that significant increase the risk of infections (such as severe combined
                        immunodeficiency (SCID), homozygous sickle cells.
                    </li>
                    <p><strong>If the answer is yes, we have to cancel the appointment</strong></p>
                </div>
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="has_vulnerable_disease" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="has_vulnerable_disease" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>

            <!-- Have you been asked to self quarantine -->
            <div class="form-group">
                <label for="to_self_quarantine">
                    Have you been asked to self- isolate or quarantine by a doctor or a local public 
                    health official in the last 14 days?
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="to_self_quarantine" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="to_self_quarantine" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>

            <!-- Have you traveled anywhere outside the UK in the last 2 weeks -->
            <div class="form-group">
                <label for="has_traveled">Have you traveled anywhere outside the UK in the last 14 days?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="has_traveled" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="has_traveled" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>

            <!-- Have you had symptoms -->
            <div class="form-group">
                <label for="had_symptoms">
                    Do you now, or have you recently had, any chills, muscle aches, pain or 
                    cramping in your legs / calves,  new loss of taste or smell, or new 
                    rashes or lesions on your body or feet?
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="had_symptoms" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="had_symptoms" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>

            <!-- Client Questions -->
            <div class="form-group">
                <label for="client_questions">Client Questions</label>
                <textarea class="form-control" name="client_questions" id="client_questions" cols="50"
                    rows="10"></textarea>
            </div>

            <!-- Client Agreement -->
            <div class="form-group">
                <label for="agreement">
                    If anything happens between now and your appointment, do you
                    promise to inform your therapist before appointment date?
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="agreement" value="True" required>
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="agreement" value="False">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>

            <input class="btn btn-primary my-3" type="submit" value="Complete">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>